a:link {
  text-decoration: none;
  color: #fff;
}
a:visited {
  color: #fff;
}
* {
  margin: 0px;
  padding: 0px;
  
  font-family: 'Roboto', sans-serif;
}
header {
  background: #296d79;
  color: #fff;
  padding: 15px;

  /*FLEX*/
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
header nav {
  width: 25%;

  /*FLEX*/
  display: flex;
}

header nav a {
  /*FLEX*/
  flex-grow: 1;
}

.container {
  width: 90%;
  margin: auto;

  /*FLEX*/
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.section-main {
  border: 1px solid #e1e1e1;
  padding: 30px 10px;

  /*FLEX*/
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-main > article {
  width: 50%;
  text-align: justify;
}
 .img-description {
  color: blue;
  width: 50%;
  text-align: center;

  /*FLEX*/
  display: flex;
  flex-flow: column wrap;
  align-items: flex-end;
}


.img-description img {
  width: 550px;
  height: 200px;
}

.main-content {
  border: 1px solid #e1e1e1;

  /*FLEX*/
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-content article {
  width: 68%;
  text-align: justify;
  padding: 10px;
  /*flex: 3;*/
}

.imgs {
  border-left: solid 1px #e1e1e1;
  padding: 2px;
  flex: 1;
}

.main-content .imgs {
    width: 32%;

    /*FLEX*/
    display: flex;
    flex-flow: column wrap; 
  }